---
clusterName: Pacifico
talosVersion: v1.11.3
endpoint: https://192.168.103.1:6443
nodes:
  - hostname: talos-control-01
    controlPlane: true
    ipAddress: 192.168.101.1
    installDisk: /dev/sda
    schematic: &nodeSchematic
      customization:
        systemExtensions:
          officialExtensions:
          - siderolabs/iscsi-tools
          - siderolabs/util-linux-tools

  - hostname: talos-control-02
    controlPlane: true
    ipAddress: 192.168.101.2
    installDisk: /dev/sda
    schematic: *nodeSchematic

  - hostname: talos-control-03
    controlPlane: true
    ipAddress: 192.168.101.3
    installDisk: /dev/sda
    schematic: *nodeSchematic

  - hostname: talos-worker-01
    controlPlane: false
    ipAddress: 192.168.102.1
    installDisk: /dev/sda
    schematic: *nodeSchematic

  - hostname: talos-worker-02
    controlPlane: false
    ipAddress: 192.168.102.2
    installDisk: /dev/sda
    schematic: *nodeSchematic

  - hostname: talos-worker-03
    controlPlane: false
    ipAddress: 192.168.102.3
    installDisk: /dev/sda
    schematic: *nodeSchematic

patches:
  - "@./patches/cni.yaml"
  - "@./patches/dhcp.yaml"
  - "@./patches/interface-names.yaml"
  - "@./patches/proxy.yaml"
  - "@./patches/longhorn-reqs.yaml"
controlPlane:
  # talosImageURL: factory.talos.dev/installer/613e1592b2da41ae5e265e8789429f22e121aab91cb4deb6bc3c0b6262961245
  patches:
    - "@./patches/vip-control.yaml"
    - "@./patches/etcd-metrics-patch.yaml"
worker:
  # talosImageURL: factory.talos.dev/installer/613e1592b2da41ae5e265e8789429f22e121aab91cb4deb6bc3c0b6262961245
  patches:
    - "@./patches/longhorn-reqs-worker.yaml"